.*
__*
!/.gitignore
*.toc
*.zip
*.pkg
*.manifest
*.txt
*.pyz
*.html
*.exe
*.rar
*.toc
*.toc
*.zip
*.zip
build/SettingsEditor/xref-SettingsEditor.html
build/SettingsEditor/xref-SettingsEditor.html
build/SettingsEditor/warn-SettingsEditor.txt
build/SettingsEditor/SettingsEditor.exe.manifest
build/SettingsEditor/PYZ-00.toc
build/SettingsEditor/PYZ-00.pyz
build/SettingsEditor/PKG-00.toc
build/SettingsEditor/PKG-00.pkg
build/SettingsEditor/EXE-00.toc
build/SettingsEditor/base_library.zip
build/SettingsEditor/Analysis-00.toc
